<p mat-dialog-title>Add Student details</p>
<div mat-dialog-content>
    <form [formGroup]="studentD" #addcourseform="ngForm" (ngSubmit)="addCourseformsubmit()">
        <mat-form-field appearance="outline">
            <mat-label>Full Name</mat-label>
            <input matInput placeholder="Enter FullName here" formControlName="studentName">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter email here" formControlName="email">
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <mat-label>Entry type</mat-label><br><br>
        <mat-radio-group aria-label="Select an option" formControlName="entryType">
            <mat-radio-button [value]=true>Fresher</mat-radio-button>
            <mat-radio-button [value]=false>Lateral</mat-radio-button>
        </mat-radio-group><br><br>
        <mat-form-field appearance="outline">
            <mat-label>Engineering Stream</mat-label>
            <mat-select formControlName="courseType">
                <mat-option value="CSE">Computer Science</mat-option>
                <mat-option value="IT">Information Technology</mat-option>
                <mat-option value="EEE">Electrical and Electronics</mat-option>
                <mat-option value="CE">Chemical</mat-option>
                <mat-option value="ME">Mechincal</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-label>CGPA</mat-label><br>
        <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="10" step="0.1" min="0" max="10"
            aria-label="units" formControlName="gradePoints"></mat-slider><br><br>
        <button mat-raised-button color="warn" mat-dialog-close>Exit</button>
        <button type="submit" mat-raised-button color="primary" style="margin-left:18px;">{{actionBtn}}</button>

    </form>
</div>