<form (ngSubmit)="userlogin()">
    <div class="container"> 
        <label>Username : </label> 
        <input type="text" placeholder="Enter Username" [(ngModel)]="user.uemail" id="uemail" name="uemail" required>
        <label>Password : </label> 
        <input type="password" placeholder="Enter Password"  [(ngModel)]="user.password" id="password" name="password" required>
        <button type="submit">LOGIN</button> 
        <input type="checkbox" checked="checked"> Remember me 
        <a href="/signup">SIGNUP</a> 
    </div> 
</form>   