<mat-card class="example-card">
    <h2 style="text-align: center;">Registration Form</h2>
        <form [formGroup]="userF" #addcourseform="ngForm" (ngSubmit)="signupU()">
          <mat-form-field appearance="outline">
            <mat-label>UserName</mat-label>
            <input matInput placeholder="Enter userName here" formControlName="userName">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter email here" formControlName="userEmailId">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Enter Password here" formControlName="password">
          </mat-form-field>
          <mat-label>Entry type   </mat-label>
          <mat-radio-group aria-label="Select an option" formControlName="role">
              <mat-radio-button value="ROLE_AUTHOR">Author</mat-radio-button>
              <mat-radio-button value="ROLE_READER">Reader</mat-radio-button>
          </mat-radio-group><br><br>
       
        <button type="submit" mat-raised-button color="primary" style="text-align: center;">Signup</button>
        <button mat-raised-button (click)="loginPage()" color="primary" style="margin-left: 20px;">Sigin</button>     
      </form></mat-card>