.example-spacer {
    flex: 1 1 auto;
  }
  
  .mat-form-field {
    font-size: 12px;
    width: 100%;
    margin-top: 10px;
  }
  
  .mat-checkbox{
    font-size: 20px;    
  }
  .sBtn{
    font-size: 14px;
    position: relative;
    margin-left: 20px;
  }