<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Digital Book Details</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="homPage()">Home</button>
  <button mat-icon-button (click)="logout()" class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
<div class="container row">
  <div class="col-md-12">
      <h1>Viewing a Book</h1>
  </div>
</div>
<div class="container row">
  <div class="col-md-6">
    <div *ngIf=retrievedImage class="bimg">
      <img [src]="retrievedImage" width="400" height="400" >    
</div>
  </div>
  <div class="col-md-6">
    <div mat-dialog-content class="container row">
        <form [formGroup]="bookF" class="fbook">
          <mat-form-field appearance="outline">
            <mat-label>Book Id</mat-label>
            <input matInput placeholder="" formControlName="bookId">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Enter title here" formControlName="bookTitle">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Book AuthorId</mat-label>
            <input matInput formControlName="bookAuthorId">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <input matInput formControlName="bookCategory">
          </mat-form-field> 
          <mat-form-field appearance="outline">
            <mat-label>Publisher</mat-label>
            <input matInput placeholder="Enter Publisher here" formControlName="bookPublisher">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput placeholder="Enter Price here" formControlName="bookPrice">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Content</mat-label>
            <input matInput placeholder="Enter Content here" formControlName="bookContent">
          </mat-form-field>
          <section class="example-section">
            <mat-checkbox class="example-margin" formControlName="bookStatus">Active</mat-checkbox>
          </section>
          <mat-form-field appearance="outline">
            <mat-label>bookReleaseDate</mat-label>
            <input matInput formControlName="bookReleaseDate">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Book ImageName</mat-label>
            <input matInput formControlName="bookImage">
          </mat-form-field>
        </form>
        </div>
  </div>
</div>

 
