.example-card {
    max-width: 500px;
    top: 10%;
    left: 30%;
    position: absolute;
  }
  .mat-radio-button  {
    margin-right: 20px;
    margin-left: 20px;
  }
  mat-form-field{
    width: 100%;
}