<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Digital Book Details</span>
  <span class="example-spacer"></span>
  <button mat-icon-button  (click)="search()" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>search</mat-icon>
  </button>
  <!--<button mat-raised-button color="warn" (click)="allBooks()">All Books</button>-->
  <button mat-raised-button color="warn" (click)="openBook()">Add Book</button>
  <button mat-icon-button matTooltip="Logout" (click)="logout()" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  <!--<mat-form-field appearance="standard">
         <mat-label>Filter</mat-label>
         <input matInput placeholder="Ex. Mia" #input>
       </mat-form-field>  [dataSource]="dataSource" -->
  <div class="mat-elevation-z8">
    <table mat-table matSort [dataSource]="dataSource">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.bookId}} </td>
      </ng-container>

      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Book Tile Name </th>
        <td mat-cell *matCellDef="let row"> {{row.bookTitle}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Book Category</th>
        <td mat-cell *matCellDef="let row"> {{row.bookCategory}} </td>
      </ng-container>

      <ng-container matColumnDef="entryType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Book price </th>
        <td mat-cell *matCellDef="let row"> {{row.bookPrice}} </td>
      </ng-container>

      <ng-container matColumnDef="streamType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Publisher </th>
        <td mat-cell *matCellDef="let row"> {{row.bookPublisher}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" matTooltip="Edit Book" (click)="editStudent(row.bookId)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" matTooltip="View Book" (click)="viewBooks(row.bookId)">
            <mat-icon>View</mat-icon>
          </button>
        
        <button mat-icon-button class="bBtn" matTooltip="Block book" color="primary" (click)="blockBooks(row.bookId,'yes')">
          <mat-icon>lock</mat-icon></button>
          <button mat-icon-button matTooltip="Unblock book" class="bBtn" color="warn" (click)="blockBooks(row.bookId,'no')">
            <mat-icon>lock_open</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!--<tr class="mat-row" *matNoDataRow>
             <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
           </tr>-->
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>

</div>