<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Student Details</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" (click)="openDialog()">Add Student</button>
    <button mat-icon-button class="example-icon favorite-icon" (click)="logout()" aria-label="Example icon-button with heart icon">
      <mat-icon >account_circle</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
<div class="container">
 <!--<mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput placeholder="Ex. Mia" #input>
  </mat-form-field>-->
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
        <td mat-cell *matCellDef="let row"> {{row.studentName}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email Address </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>

      <ng-container matColumnDef="entryType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Entry(Fresher) </th>
        <td mat-cell *matCellDef="let row"> {{row.entryType}} </td>
      </ng-container>

      <ng-container matColumnDef="streamType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Branch </th>
        <td mat-cell *matCellDef="let row"> {{row.courseType}} </td>
      </ng-container>

      <ng-container matColumnDef="gpa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CGPA </th>
        <td mat-cell *matCellDef="let row"> {{row.gradePoints}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="editStudent(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteStudent(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

     <!--<tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>-->
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>

</div>