<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Digital Book Details</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="homPage()">Home</button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div mat-dialog-content><br>
  <h2 style="text-align: center;"> Editing the Book</h2>
  <form [formGroup]="bookF">
    <mat-form-field appearance="outline">
      <mat-label>Book Id</mat-label>
      <input matInput placeholder="" formControlName="bookId">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Enter title here" formControlName="bookTitle">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <!--<input matInput formControlName="bookCategory">-->
      <mat-select formControlName="bookCategory">
        <mat-option value="ADVENTURE">Adventure</mat-option>
        <mat-option value="DRAMA">Drama</mat-option>
        <mat-option value="THRILLER">Thriller</mat-option>
        <mat-option value="ROMANCE">Romance</mat-option>
        <mat-option value="SCIFI">Scifi</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Publisher</mat-label>
      <input matInput placeholder="Enter Publisher here" formControlName="bookPublisher">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input matInput placeholder="Enter Price here" formControlName="bookPrice">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Content</mat-label>
      <input matInput placeholder="Enter Content here" formControlName="bookContent">
    </mat-form-field>
    <section class="example-section">
      <mat-checkbox class="example-margin" formControlName="bookStatus">Book Status</mat-checkbox>
    </section>
    <mat-form-field appearance="outline">
      <mat-label>bookReleaseDate</mat-label>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="bookReleaseDate" date-parser="dd.MM.YYYY">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field><br>
    <br><br>
    <input class="sBtn" type="file" (change)="onFileSelected($event)" value="upload"><br><br>
    <button class="sBtn" mat-raised-button (click)="onUpload()" color="primary" value="upload">Upload</button>
    <button type="submit" color="primary" class="btn btn-success" (click)="editBook()">Submit</button>
  </form>
</div>