<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Digital Book Details</span>
    <span class="example-spacer"></span>
  
    <button mat-raised-button color="warn" (click)="homPage()">Home</button>
    <button mat-icon-button (click)="logout()" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
  
  <div mat-dialog-content><br>
    <h2 style="text-align: center;"> Searching a Book</h2>
    <form [formGroup]="bookF" (ngModel)="searchBook()">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Enter title here" formControlName="bookTitle">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Book AuthorId</mat-label>
        <input matInput formControlName="bookAuthorId">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <input matInput formControlName="bookCategory">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Publisher</mat-label>
        <input matInput placeholder="Enter Publisher here" formControlName="bookPublisher">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Enter Price here" formControlName="bookPrice">
      </mat-form-field> 
      <button type="submit" color="primary" class="btn btn-success" (click)="searchBook()">Submit</button>
     
    </form>
  </div>