<img [src]="images_d" alt="" style="height: 400px; width: 350px" class="center">
<mat-card class="example-card">
  <h2 style="text-align: center;">SignIn/Signup</h2>
  <form (ngSubmit)="jwtuserlogin()">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Enter email here" [(ngModel)]="user.userEmailId" class="form-control" id="userId" name="userId">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Enter Password here" [(ngModel)]="user.password" class="form-control" id="password" name="password">
    </mat-form-field>
 
  <button type="submit" mat-raised-button color="primary" style="margin-left: 20px;margin-right: 10px;">Login</button>
 Already a user? then click on Signup<button (click)="signUpPage()" mat-raised-button color="primary" style="margin-left: 20px;">Signup</button>
</form></mat-card>