<form (ngSubmit)="usersignup()">
    <div class="container"> 
<label for="first-name">Full Name:</label>
<input type="text" name="username" [(ngModel)]="user.username" id="username" placeholder="Enter Full Name"><br>
<label for="email-id">Email Id:</label>
<input type="email" placeholder="Enter EmailId" [(ngModel)]="user.uemail" id="uemail" name="uemail"><br>
<label for="last-name">Password:</label>
<input type="password" name="password" id="password" [(ngModel)]="user.password" placeholder="Enter Password here"><br>
<button type="submit">Submit</button>
<a href="/login">LOGIN</a>
</div> 
</form> 