.example-spacer {
    flex: 1 1 auto;
  }
  .demo-table {
    width: 100%;
  }
  table {
    width: 100%;
  }

  .bbtn{
    width: 1%;
    margin: auto;
    margin-left: 1px;
    padding-bottom: 1px;
  }
  
  .demo-button-container {
    padding-bottom: 8px;
  }
  
  .demo-button + .demo-button {
    margin-left: 4px;
  }

  .mat-form-field {
    font-size: 12px;
    width: 100%;
  }
  
  td, th {
    width: 15%;
  }