.example-spacer {
    flex: 1 1 auto;
  }
  .mat-form-field {
    font-size: 14px;
    width: 50%;
    margin-left: 200px;
  
  }
  .mat-checkbox{
    font-size: 14px;
    margin-left: 200px;
  }
  .sBtn{
    font-size: 14px;
    position: relative;
    margin-left: 200px;
  }